<div class="card">
<app-filter-action-toolbar [title]="'Tasks'" />
  <p-table
    [value]="tableData?.results ?? []"
    dataKey="taskId"
    selectionMode="single"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Assigned To</th>
        <th>Status</th>
        <th>Contact</th>
        <th>Task Name</th>
        <th>Description</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-x>
      <tr (click)="onRowClick(x)">
        <td>{{ x.assignedToMetaData.firstName }}</td>
        <td>{{ x.isCompleted ? 'Completed' : 'Pending' }}</td>
        <td>{{ x.contactMetaData.name }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.description }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
